body {
  overflow: hidden;
  min-height: 100vh;
  cursor: not-allowed;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.bulle {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  animation: up 7s;
  filter: hue-rotate(0deg);
  z-index: 1;
}
.bulle:hover {
  cursor: crosshair;
}

@keyframes up {
  to {
    top: -250px;
    left: var(--left);
    opacity: 0.8;
    filter: hue-rotate(360deg);
  }
}

h3,
h2 {
  text-align: center;
  font-size: 4em;
  color: gray;
  font-family: Montserrat, "sans-serif";
  z-index: 999;
}
