* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  scrollbar: none;
}

body {
  overflow: hidden;
  height: 100vh;
  cursor: not-allowed;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.bulle {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  animation: up 7s;
  filter: hue-rotate(0deg);
  z-index: 1;
}
.bulle:hover {
  cursor: crosshair;
}

@keyframes up {
  to {
    top: -250px;
    left: var(--left);
    opacity: 0.8;
    filter: hue-rotate(360deg);
  }
}

h3,
h2,
h1,
button {
  text-align: center;
  font-size: 3.5em;
  color: gray;
  font-family: Montserrat, "sans-serif";
  z-index: 999;
  padding: 5px 20px;
  margin: 20px auto;
}

h2 {
  font-size: 2.5em;
  padding-bottom: 100px;
}

.score {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  cursor: not-allowed;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  transition: all 0.5s;
  display: none;
  background-color: rgba(202, 202, 202, 0.438);
  z-index: -1;
}
